extends ./base

html
	head
		title= title

block content
	form(action="/saveconfigdata" method="POST")
		table
			tr
				td
					h3 Aktive Klasse:
					td
						select(name="klasse")
							option(value="5a") 5a
							option(value="5b") 5b
							option(value="5c") 5c
							option(value="6a") 6a
							option(value="6b") 6b
							option(value="6c") 6c
			tr
				td
					h3 Aktive Aufgabe:
				td
					select(name="aufgabe")
						- for (var i in alleAufgaben)
								option(value=alleAufgaben[i].aufgabe.path + alleAufgaben[i].aufgabe.filename, name="aufgabe")
									=alleAufgaben[i].aufgabe.title
		input(type="submit" class="button large expanded" value="Konfiguration speichern")
