doctype html

html
	head
		script(src='/js/jquery.js')
		link(href='/css/onsenui.css',rel='stylesheet')
		link(href='/css/onsen-css-components.min.css',rel='stylesheet')
		link(href='/css/app.css', rel='stylesheet')
		script(src='/js/onsenui.min.js')
		title= title
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		block extrajs
	body
		header
			block header

		block content
			div Keine Inhalte vorhanden
