extends ./base

html
	head
		title= title

block content
	div.log-in-form
		h1.text-center Willkommen bei Onassis
		h3.text-center dem Online-Assistenten
		p
			a.button.large.expanded(href='/login') Einloggen
			a.button.large.expanded(href='/signup') Konto einrichten
