extends ./base_ons
include ./mixin

html
  block content
    ons-page
      ons-card
        h4 Der Bau von Wurzel, Sprossachse und Laubblatt
        p Samenpflanzen haben einen typischen Grundbauplan,
           | bestehend aus den Organen
        +luecke()
        span ,
        +luecke()
        span ,
        +luecke()
        span &nbsp;,und
        +luecke()
        span .
        p Die Wurzeln verankern die Pflanze im
        +luecke()
        span .
        p Die Hauptwurzel verzweigt sich in viele Nebenwurzeln.
          |An den Wurzelspitzen ist ein feiner Flaum erkennbar, die
        +luecke()
        span .
        p Sie vergrößern die Oberfläche der Wurzeln und ermöglichen
          |so deren zweite Aufgabe, die
        +luecke()
        p &nbsp;von Wasser und darin gelösten
        +luecke()
        span .
        p Über ein System von Leitbündeln wird das Wasser von der Wurzel über die
        +luecke
        p zu den Blättern transportiert. Bei einigen Pflanzen (z. B. Möhren)
          |dient die Wurzel auch noch als
        +luecke()
        span .
        p Die Sprossachse trägt
        +luecke()
        p und Blüten und enthält zahlreiche Leitbündel, die Nährstoffe von
          |den Blättern zur Wurzel transportieren. Man unterscheidet anhand
          |der Sprossache und deren Wuchsform Sträucher und Bäume.
          |Bei diesen ist die Sprossachse
        +luecke()
        span .
        p Pflanzen mit einer
        +luecke()
        p Sprossachse sind Kräuter.
        p Die Blätter sind unterteilt in
        +luecke()
        span , und
        +luecke()
        span (Blattfläche).
        p In den Blättern verlaufen gut sichtbar und verzweigt die Blattadern
         |(Verzweigungen der Leitgefäße der Sprossachse). Über die Blätter
         | verdunstet
        +luecke
        span .
        p  In den Laubblättern findet die
        +luecke()
        p statt.
        p Der Blütenstiel trägt die Blüte. Der Blütenboden ist die
         |becherförmige Ansatzstelle der Blütenblätter. Die grünen Kelchblätter
        +luecke()
        p die Blütenbestandteile.
         |Die Kronblätter sind bei den meisten Blüten die auffälligsten Teile.
         |Sie sind oft speziell gefärbt oder geformt, um
        +luecke()
        p anzulocken. Im Inneren der Blüte befinden sich die feinen Staubblätter.
         | das sind die
        +luecke()
        p Blütenorgane. Sie bestehen aus
        +luecke()
        span  und
        +luecke()
        p mit Pollensäcken. Das Fruchtblatt
        span (
        +luecke()
        span ) ist das
        +luecke()
        span &nbsp; Blütenorgan.
        p Es besteht aus drei Teilen. Dem
        +luecke()
        span &nbsp, dem
        +luecke()
        span &nbsp; und der
        +luecke()
        span .
        p Der Fruchtknoten umhüllt die Samenanlage mit der darin befindlichen
        +luecke()
        span .
        p Aus ihr wird nach der Befruchtung der Samen.
