extends ./base

html
	head
		title= title

block content
	hr
	h3 Notenbuch Klasse: #{KL}&nbsp;&nbsp; Fach: #{F}
	hr
	table-scroll
		table
			tr
			th
			- for (let h in AUFG)
				th
					= AUFG[h]
			- for (let i in schueler)
				tr
					td
						= schueler[i].local.lastname +', '+ schueler[i].local.firstname
					- for(let j=0;j<2;j++)
						td(align='center') 1

	a(href='\admin_start' class='button secondary expanded') Hauptmen&uuml;
	a(href='/logout' class='button expanded warning') Ausloggen
