extends ./base

html
	head
		title= title

block content
	form.log-in-form(action='/signup' method='POST')
		h1.text-center Legen Sie sich in Konto an
		if message.length > 0
				div(class='callout warning') #{message}
		label Benutzername
				input(type="text" placeholder="Benutzername" name="username")
		label Passwort
				input(type="password" placeholder="Passwort" name="password")
		label Vorname
				input(type="text" placeholder="Vorname" name="firstname")
		label Nachname
				input(type="text" placeholder="Nachname" name="lastname")
		label klasse
				select(name="klasse")
					option(value="5a") 5a
					option(value="5b") 5b
					option(value="5c") 5c
					option(value="6a") 6a
					option(value="6b") 6b
					option(value="6c") 6c
			p
				input(type="submit" class="button large expanded" value="Konto einrichten")
		hr
		p Sie haben bereits ein Konto?
			a(href='/login') Anmelden
		p Falsch hier?
			a(href='/') Abbrechen
